<%- include('../partials/navbar', { user }); %>

<h1>Log In to your account</h1>

<%- include('../partials/errorMessage') %>

<form action="/account/login" method="POST">
  <div>
    <label for="email">E-mail</label>
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Your email..."
      required
    />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Your password..."
      required
    />
  </div>

  <a href="/account/register"
    >Don’t have an account ? Sign up and get more advantages.</a
  >

  <button type="submit">Log In</button>
</form>
