<!-- Register Error Messages -->
<% if (typeof errors !== 'undefined') { %> <% errors.forEach(error => { %>
<div>
  <%= error.message %>
</div>
<% }) %> <% } %>

<!-- Login Error Messages -->
<% if (error != '') { %>
<div>
  <%= error %>
</div>
<% } %>

<!-- Login Success Message -->
<% if (success != '') { %>
<div>
  <%= success %>
</div>
<% } %>

<!-- Info Alert Boxes -->
<% if (info_message != '') { %>
<div>
  <%= info_message %>
</div>
<% } %>
