<a href="/">MySurveys.com</a>
<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/surveys/search">Explore</a>
  </li>
  <li>
    <a href="/surveys/create">Create Survey</a>
  </li>
  <% if (locals.user) { %>
  <li>
    <%= locals.user.displayName %>
    <a href="/account/logout">Log Out</a>
  </li>
  <% } else { %>
  <li>
    <a href="/account/register">Register</a>
  </li>
  <li>
    <a href="/account/login">Log In</a>
  </li>
  <% } %>
</ul>
