<a href="/">MySurveys.com</a>
<ul>
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/surveys/search">Explore</a>
  </li>
  <li>
    <a href="/surveys/create">
      <button>Create Survey</button>
    </a>
  </li>
  <li>
    <a href="/account/register">
      <button>Register</button>
    </a>
  </li>
  <li>
    <a href="/account/login">
      <button>Log In</button>
    </a>
  </li>
</ul>
