*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  color: #6c757d;
  display: block;
}

a:hover {
  text-decoration: none;
  color: #343a40;
}

.btn > a {
  color: white;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group .btn {
  border-radius: 0px;
}

.green-text {
  color: #24a021;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link,
.nav-item {
  align-self: center;
  margin: 0 1rem;
  font-size: 1.2rem;
}

.dropdown {
  align-self: center;
}

.dropdown-item a {
  color: #212529;
}

.dropdown-toggle {
  margin: 0 !important;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}

.profile-label {
  color: #24a021;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

table td {
  align-items: center !important;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem !important;
  }
  .nav-link,
  .nav-item {
    margin: 1rem 0;
    text-align: center;
  }
  .dropdown {
    width: 100%;
  }
  .list-group {
    margin: 2rem 0;
  }
}
