<h1>Create Survey</h1>

<form action="/surveys/create" method="POST">
  <h2>Info</h2>
  <label for="title">Title</label>
  <input
    type="text"
    id="title"
    name="title"
    placeholder="Survey title..."
    required
  />

  <label for="description">Description</label>
  <textarea
    name="description"
    id="description"
    placeholder="Survey description (optional)..."
  ></textarea>

  <h2>Answers</h2>
  <ul id="answers-list" style="list-style: none;">
    <li>
      <label for="answer1">Answer #1</label>
      <input
        type="text"
        id="answer1"
        name="answer"
        placeholder="Answer name..."
        required
      />
    </li>
    <li>
      <label for="answer2">Answer #2</label>
      <input
        type="text"
        id="answer2"
        name="answer"
        placeholder="Answer name..."
        required
      />
    </li>
  </ul>

  <button type="button" id="addAnswer">+ Answer</button>

  <h2>Options</h2>
  <label for='status'>Status</label>
  <select name="status" id="status">
    <option value="public" selected>Public</option>
    <option value="private">Private</option>
  </select>

  <div>
    <button type="submit">Save</button>
    <a href="/surveys/search">Cancel</a>
  </div>
</form>

<script defer src="/scripts/createSurvey.js"></script>
