<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"
></script>
<script defer src="/scripts/displayCharts.js"></script>
<script defer>
  var survey = <%= survey %>;
</script>
<h2>Survey Results</h2>
