<h1>Search for surveys</h1>

<form action="/surveys/search" method="GET">
    <input type="text" name="title" value="<%=  searchOptions.title %>" placeholder="Survey title..." />
    <button type="submit">Search</button>
</form>

<div>
    <% if (surveys.length === 0) { %>
        <h2>No results.</h2>
    <% } else { %>
        <h2>Search Results: <%= surveys.length %></h2>
        <%- include('../partials/surveysGrid', { surveys: surveys }) %>
    <% } %>
</div>
