/* Background Color */
$bodyBackground: #f9f9f9;
$navbarBackground: #f1f1f1;
$footerBackground: #333333;
/* Text Color */
$light-text-color: #fbfbfb;
$grey-text-color: #828282;
$black-text-color: #333333;
/* Theme Colors */
$green: #24a021;
$blue: #2d84ca;
$red: #d45151;
$grey: #828282;
$dark: #333333;
$turquoise: #4caf9d;
/* Theme Hover Colors */
$greenHover: #1b8819;
$blueHover: #2a72ad;
$redHover: #b33131;
$greyHover: #707070;
$darkHover: #202020;
$turquoiseHover: #419b8a;
/* Box Shadows */
$box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
/* Font Type */
$main-font: "Poppins", sans-serif;
/* Font Weight */
$light-font-weight: 400;
$medium-font-weight: 500;
