.nav-dropdown {
  display: none;
  border: 1px solid black;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 100%;
  list-style: none;
  &.open {
    display: block;
  }
  .nav-dropdown-item {
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 1rem;
  }
}
