.navbar {
  position: relative;
  background-color: $navbarBackground;
  width: 100%;
  padding: 0.3rem 2.5rem;
  @include flex(row, center, space-between);
  .navbar-logo {
    font-size: 1.7rem;
    font-weight: $light-font-weight;
  }
  .navbar-nav {
    list-style: none;
    font-size: 1.2rem;
    @include grid(4, 1, 3rem);
    .nav-item {
      position: relative;
      align-self: center;
      padding: 0.5rem 1rem;
      cursor: pointer;
      transition: all 0.3s ease-out;
      i {
        margin-left: 0.5rem;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
      }
    }
    &.open {
      @include flex(column, center, center);
      background-color: $navbarBackground;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      animation: showIn 0.3s ease-in backwards;
      .nav-item {
        margin: 0.8rem 0;
        font-size: 1.5rem;
      }
      .btn {
        font-size: 1.2rem;
      }
    }
  }
  .menu-btn {
    display: none;
    i {
      color: $light-text-color;
      font-size: 20px;
    }
  }
}

@keyframes showIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    .navbar-nav {
      gap: 0.8rem;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    padding: 0.8rem 1.5rem;
    .navbar-nav {
      display: none;
    }
    .menu-btn {
      display: block;
    }
  }
}
