/* GLobal */
/* Background Color */
/* Text Color */
/* Theme Colors */
/* Theme Hover Colors */
/* Box Shadows */
/* Font Type */
/* Font Weight */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.green-text {
  color: #24a021;
}

.btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  color: #fbfbfb;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #2d84ca;
}

.btn.btn-primary:hover {
  background-color: #2a72ad;
}

.btn.btn-danger {
  background-color: #d45151;
}

.btn.btn-danger:hover {
  background-color: #b33131;
}

.btn.btn-success {
  background-color: #24a021;
}

.btn.btn-success:hover {
  background-color: #1b8819;
}

.btn.btn-light {
  background-color: #4caf9d;
}

.btn.btn-light:hover {
  background-color: #419b8a;
}

.btn.btn-grey {
  background-color: #828282;
}

.btn.btn-grey:hover {
  background-color: #707070;
}

.btn.btn-dark {
  background-color: #333333;
}

.btn.btn-dark:hover {
  background-color: #202020;
}

.btn.hamburger-btn {
  padding: 1.5rem;
  border-radius: 50%;
}

/* Components */
.navbar {
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  padding: 0.3rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar-logo {
  font-size: 1.7rem;
  font-weight: 400;
}

.navbar .navbar-nav {
  list-style: none;
  font-size: 1.2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
  gap: 3rem;
}

.navbar .navbar-nav .nav-item {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar .navbar-nav .nav-item i {
  margin-left: 0.5rem;
}

.navbar .navbar-nav .nav-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.navbar .navbar-nav.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-animation: showIn 0.3s ease-in backwards;
          animation: showIn 0.3s ease-in backwards;
}

.navbar .navbar-nav.open .nav-item {
  margin: 0.8rem 0;
  font-size: 1.5rem;
}

.navbar .navbar-nav.open .btn {
  font-size: 1.2rem;
}

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn i {
  color: #fbfbfb;
  font-size: 20px;
}

@-webkit-keyframes showIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes showIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .navbar .navbar-nav {
    gap: 0.8rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    padding: 0.8rem 1.5rem;
  }
  .navbar .navbar-nav {
    display: none;
  }
  .navbar .menu-btn {
    display: block;
  }
}

.nav-dropdown {
  display: none;
  border: 1px solid black;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 100%;
  list-style: none;
}

.nav-dropdown.open {
  display: block;
}

.nav-dropdown .nav-dropdown-item {
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
}
/*# sourceMappingURL=main.css.map */